<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appestoque">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppEstoque">
        <activity
            android:name=".view.IncluirProduto"
            android:exported="false" />
        <activity
            android:name=".view.AdicionarEstoque"
            android:exported="false" />
        <activity
            android:name=".view.RealizarVenda"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/rounded" />

        <activity
            android:name=".view.ListaProduto"
            android:exported="false" />
        <activity
            android:name=".view.HomeEstoque"
            android:exported="false" />
        <activity
            android:name=".view.TelaUser"
            android:exported="false" />
        <activity
            android:name=".view.TelaEntrada"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>